@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: "Rubik", sans-serif;
}
:root{
    --main-color:#fcb700;
    --dark-color:#222222;
    --parg-color:#666666;
    --dark-red:#d01418;
    --border-color:#66666668;
    --name-item:#0066c0;
}
body{
    margin-top: 180px;
    background-color: #f5f6f9;
}
h1,h2,h3,h4,h5,h6{
    color: var(--dark-color);
}
p{
    color: var(--parg-color);
}
.container{
    width: 75%;
    margin: auto;
}
@media (max-width : 1500px) {
    .container{
        width: 90%;
    }
}
/* page one */
/* header */
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    z-index: 1000;
}
header .top-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}
header .top-nav .logo{
    width: 150px;
    margin-bottom: 20px;
}
header .top-nav .search{
    width: 500px;
    border: 2px solid var(--main-color);
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
header .top-nav .search input{
    padding: 18px 175px 18px 20px;
    outline: none;
    border: none;
    width: 100%;
}
header .top-nav .search button{
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    width: 170px;
    background-color: var(--main-color);
    height: 100%;
    font-size: 18px;
    color: var(--dark-color);
    cursor: pointer;
}
header .top-nav .cart-header{
    display: flex;
    gap: 10px;
    align-items:center;
}
header .top-nav .cart-header .icon-cart{
    position: relative;
}
header .top-nav .cart-header .icon-cart .icon{
    color: var(--dark-color);
    font-size: 20px;
    padding: 10px;
    width: 30px;
    height: 30px;
    border: 1px solid var(--border-color);
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
header .top-nav .cart-header .icon-cart .icon:hover{
    background-color: var(--main-color);
    color: #fff;
}
header .top-nav .cart-header .count-item{
    position: absolute;
    background-color: var(--main-color);
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 13px;
    top: -5px;
    right: 0;
    border:1px solid var(--border-color);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: var(--dark-color);
}
header .top-nav .cart-header .total-price p{
    margin-bottom: 8px;
}
header nav{
    border-top:1px solid var(--border-color) ;
}
header nav .links{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
header nav .links ul{
    display: flex;
    gap: 70px;
}
header nav .links ul li a{
    color: var(--dark-color);
    text-transform: uppercase;
    font-weight: 500;
    font-size: 15px;
}
header .links ul li{
    position: relative;
    padding: 20px 0;
}
header .links ul li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
header .links ul li.active::after,header .links ul li:hover::after{
    width: 100%;
}
header .links .login_signup a{
    color: var(--dark-color);
    padding: 10px 20px;
    background-color: var(--main-color);
    margin-left: 10px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
header .btn_open_menu,
header .links ul .logo_menu,
header .links ul .bg-overlay,
header .links ul .btn_close_menu{
    display: none;
}
/* end header */
/* cart */
.cart{
    position: fixed;
    top: 0;
    right: -400px;
    bottom:0;
    background-color: #fff;
    z-index: 1100;
    padding: 30px;
    border-left: 1px solid var(--border-color);
    display: flex;
    width: 400px;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
}
.cart.active{
    right: 0;
}
.cart .top_cart{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.cart .top_cart .close_cart .close{
    font-size: 35px;
    cursor: pointer;
}
.cart .top_cart h3{
    font-size: 18px;
}
.cart .top_cart h3 span{
    font-size: 14px;
    color: var(--parg-color);
    font-weight: normal;
}
.cart .items_in_cart{
    padding: 20px 0;
    border-block: 1px solid var(--border-color);
    margin-block:20px ;
    height: 100%;
}
.cart .items_in_cart .item_card{
    display: flex;
    gap: 20px;
    align-items:center;
    justify-content: center;
    margin-bottom: 25px;
}
.cart .items_in_cart .item_card:last-child{
    margin-bottom: 0;
}
.cart .items_in_cart .item_card img{
    width: 100px;
}
.cart .items_in_cart .item_card h4{
    margin-bottom: 10px;
    font-weight: 500;
}
.cart .items_in_cart .item_card .delete_item{
    border:none;
    outline: none;
}
.cart .items_in_cart .item_card .delete_item .trash{
    font-size: 22px;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.cart .items_in_cart .item_card .delete_item .trash:hover{
    color: var(--dark-red);
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}
.cart .bottom_cart .total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.cart .bottom_cart .total .price_cart_total{
    color: var(--main-color);
}
.cart .button_cart{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.cart .button_cart .btn_cart{
    border:2px solid var(--main-color);
    padding: 15px 0;
    color: var(--dark-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    background-color: var(--main-color);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.cart .button_cart .btn_cart:hover{
    background-color: transparent;
}
.cart .button_cart .trans_bg{
    background-color: transparent;
}
.cart .button_cart .trans_bg:hover{
    background-color: var(--main-color);
}
/* end cart */
/* slider */
.slider .container{
    display: flex;
    justify-content: space-between;
}
.slider .container .slide_bar{
    background-color: #fff;
    width: 300px;
    display: flex;
    flex-direction: column;
}
.slider .container .slide_bar h2{
    padding: 20px 15px;
    display: flex;
    gap: 15px;
    align-items:center;
    font-size: 18px;
}
.slider .container .slide_bar a{
    padding: 15px;
    font-size: 14px;
    font-weight: 500;
    color: var(--dark-color);
    border-top: 1px solid var(--border-color);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.slider .container .slide_bar a:hover{
    color: var(--main-color);
}
/* slider */
.slider .container .slide-swp{
    width: calc(100% - 350px);
    overflow: hidden;
    position: relative;
}
.slider .container .slide-swp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;
}
.slider .container .slide-swp .swiper-pagination span{
    background-color: #fff;
    opacity: 1;
}
.slider .container .slide-swp .swiper-pagination-bullet-active{
    background-color: var(--main-color) !important;
    width: 35px;
    height: 8px;
    border-radius:30px;
    -webkit-border-radius:30px;
    -moz-border-radius:30px;
    -ms-border-radius:30px;
    -o-border-radius:30px;
}
/* end slider */
/* features */
.features{
    margin: 50px 0;
}
.features .container{
    display: flex;
    background-color:#fff ;
    padding: 15px 20px;
    justify-content: space-between;
    flex-wrap: wrap;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.features .container .feature_item{
    width: 18%;
    min-width: 220px;
    display: flex;
    align-items: center;
    gap: 20px;
}
.features .container .feature_item img{
    width: 50px;
}
.features .container .feature_item h4{
    margin-bottom: 8px;
    font-size: 15px;
}
.features .container .feature_item p{
    font-size: 12px;
}
/* end features */
/* banner */
.banner{
    margin: 50px 0;
}
.banner .container{
    display: flex;
    justify-content: space-between;
}
.banner .container .banner_img{
    position: relative;
    width: 32%;
}
.banner .container .banner_img img{
    width: 100%;
}
.banner .glass_hover{
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.banner .glass_hover::after{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(50deg , transparent 50% , rgba(255,255,255,0.1) 60% , rgba(255,255,255,0.5) 70% , transparent 71%) ;
    background-size: 200% 100%;
    background-position: 200% 0;
    z-index: 90;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
}
.banner .banner_img:hover .glass_hover::after{
    background-position:-20% 0;
}
.banner .banner_img a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}
.banner_big.banner .container .banner_img{
    width: 49%;
}
/* end banner */
/* slide */
.top_slide{
    position: relative;
    margin-bottom: 20px;
    padding: 20px 0;
    border-bottom: 1px solid var(--border-color);
}
.top_slide::after{
    position: absolute;
    content:"";
    bottom: -1px;
    left: 0;
    width: 100px;
    height: 2px;
    background-color: var(--main-color);
}
.top_slide h2{
    text-transform: capitalize;
}
.top_slide h2 span{
    font-weight: normal;
}
/* product card style */
.product{
    position: relative;
    background:#fff;
    padding: 20px 30px;
    text-align: center;
    overflow: hidden;
    box-shadow: 5px 5px 10px #94949428;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    width: 25%;
}
.product .icons{
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: absolute;
    right: -80px;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.product .icons span{
    background-color: #fff;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid var(--border-color);
    text-align: center;
    cursor: pointer;
    border-radius:50%;
    -webkit-border-radius:50%;
    -moz-border-radius:50%;
    -ms-border-radius:50%;
    -o-border-radius:50%;
    transition: 0.3s ease;
    -webkit-transition: 0.3s ease;
    -moz-transition: 0.3s ease;
    -ms-transition: 0.3s ease;
    -o-transition: 0.3s ease;
}
.product .icons span:hover{
    background-color: var(--main-color);
}
.product:hover .icons{
    right: 20px;
}
.icons span.active{
    background-color: var(--main-color);
    cursor: auto;
    opacity: 0.7;
    pointer-events: none;
}
.product .sale_present{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    background-color: var(--dark-red);
    color: #fff;
    padding: 4px 12px;
    font-size: 14px;
}
.product .img_product img{
    width: 100%;
    margin-bottom: 40px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.product .img_product .img_hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    scale: 0.1;
}
.product:hover .img_product img{
    opacity: 0;
}
.product:hover .img_product .img_hover{
    opacity: 1;
    scale: 1;
}
.product .name_product a{
    color: var(--name-item);
}
.product .name_product a:hover{
    text-decoration: underline;
}
.stars{
    margin: 15px 0;
    color: var(--main-color);
}
.price{
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 10px;
}
.price p{
    color: var(--main-color);
    font-weight: bold;
}
.price .old_price{
    text-decoration: line-through;
    color: var(--parg-color);
    font-size: 13px;
    font-weight: normal;
}
.slide .container .mySwiper{
    overflow: hidden;
    position: relative;
    padding: 10px 0;
}
.slide .container .mySwiper .btn-swip{
    position: absolute;
    top: 35px;
    right: 0;
    color: #fff;
    background-color: var(--main-color);
    font-weight: bold;
    padding: 0 18px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.slide .container .mySwiper .btn-swip::after{
    font-size: 25px;
}
.slide .container .mySwiper .btn-swip.swiper-button-prev{
    left: calc(100% - 90px);
}
/* slide_product */
.slide_product .product_swip{
    width: calc(100% - 300px);
}
.slide_product .slide_with_img{
    display: flex;
    justify-content: space-between;
}
.slide_product .categ_img{
    padding: 10px 0;
    width: 280px
}
.slide_product .categ_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
/* end slide */
/* newsletter */
.newsletter{
    background-color: #fff;
}
.newsletter .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}
.newsletter .text{
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;
}
.newsletter .text img{
    width: 100px;
}
.newsletter .text h4{
    font-size: 28px;
    font-weight: 500;
}
.newsletter .text p{
    margin: 12px 0;
}
.newsletter .text h6{
    font-size: 20px;
    font-weight: normal;
}
.newsletter .newsletter_form{
    width: 40%;
    overflow: hidden;
    position: relative;
    border: 2px solid var(--main-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.newsletter .newsletter_form input{
    padding: 20px 175px 20px 20px;
    border: none;
    outline: none;
    width: 100%;
}
.newsletter .newsletter_form button{
    background-color: var(--main-color);
    width: 170px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    color: #222;
}
/* end newsletter */
/* footer */
.back_to_top{
    background-color: #4d5669;
}
.back_to_top p{
    padding: 22px 0;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
}

footer{
    background-color: #394150;
}
footer .container{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}
footer .container .big_row{
    width: 30%;
}
footer .container .big_row .hotline{
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}
footer .container .big_row .hotline span{
    font-size: 60px;
    color: var(--main-color);
}
footer .container .big_row .hotline h5{
    color: #fff;
    font-size: 18px;
    margin-bottom: 10px;
}
footer .container .big_row .hotline h6{
    color: var(--main-color);
    font-size: 18px;
}
footer .container .big_row p{
    width: 90%;
    color: #b1b1b1;
    font-size: 14px;
    line-height: 1.5;
}
footer .container .row{
    width: 22%;
}
footer .container .row h4{
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
}
footer .container .row .links{
    display: flex;
    flex-direction: column;
    gap: 7px;
}
footer .container .row .links a{
    color: #b1b1b1;
    font-size: 14px;
    position: relative;
    left: 0;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
footer .container .row .links a:hover{
    left: 8px;
    color: var(--main-color);
}
footer .bottom_footer{
    background-color: #202935;
}
footer .bottom_footer .container{
    padding: 20px 0;
    align-items: center;
}
footer .bottom_footer .container span{
    color: var(--main-color);
}
footer .bottom_footer .payment_img{
    display: flex;
    gap: 10px;
} 
footer .bottom_footer .payment_img img{
    filter: grayscale(100);
    -webkit-filter: grayscale(100);
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
footer .bottom_footer .payment_img img:hover{
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
}
/* end footer */
/* Responsive */
@media (max-width : 1000px) {
    header .top-nav .search{
        width: 420px;
    }
    .slider .container .slide_bar {
        display: none;
    }
    .slider .container .slide-swp{
        width: 100%;
    }
    .features .container .feature_item{
        margin-bottom: 20px;
    }
    .newsletter .container{
        flex-direction: column;
        gap: 30px;
    }
    .newsletter .container .text{
        width: 100%;
    }
    .newsletter .newsletter_form{
        width: 100%;
    }
    footer .container{
        flex-wrap: wrap;
    }
    footer .container .big_row{
        width: 50%;
        margin-bottom: 20px;
    }
    footer .container .row{
        width: 40%;
        margin-bottom: 20px;
    }
}

@media (max-width : 900px){
    body{
        margin-top: 250px;
    }
    header .top-nav{
        flex-wrap: wrap;
    }
    header .top-nav .search{
        order: 3;
        margin-top: 20px;
        width: 100%;
    }
    header .links{
        padding: 20px 0;
    }
    header .links ul{
        position: fixed;
        top: 0;
        left: -420px;
        bottom: 0;
        flex-direction: column;
        background-color: #fff;
        gap: 20px;
        width: 400px;
        border-right: 1px solid var(--border-color);
        text-align: center;
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
}
    header .links ul.active{
        left: 0;
    }
    header .links ul .logo_menu{
        display: block;
        width: 150px;
        margin: 28px auto;
    }
    header .links ul .btn_close_menu{
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        font-size: 40px;
        cursor: pointer;
        color: var(--main-color);
    }
    header .btn_open_menu{
        display: block;
        font-size: 25px;
        cursor: pointer;
    }
    header .links ul .bg-overlay{
        display: block;
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        background-color: #0000001d;
        width: calc(100vw - 415px);
        transition: 0.3s ease-in-out;
        -webkit-transition: 0.3s ease-in-out;
        -moz-transition: 0.3s ease-in-out;
        -ms-transition: 0.3s ease-in-out;
        -o-transition: 0.3s ease-in-out;
    }
    header .links ul.active .bg-overlay{
        right: 0;
    }
    .banner{
        margin: 0;
    }
    .slide{
        margin-bottom: 50px;
    }
    .slide_product .categ_img{
        display: none;
    }
    .slide_product .product_swip{
        width: 100%;
    }
    .newsletter .text h4{
        font-size: 25px ;
    }
    .newsletter .text p{
        font-size: 14px ;
    }
    .newsletter .text h6{
        font-size: 18px ;
    }
}

@media (max-width : 500px) {
    header .top-nav .search input{
        padding: 13px 130px 13px 20px;
    }
    header .top-nav .search button{
        width: 120px;
        font-size: 14px;
    }
    header .links ul{
        width: 100%;
        left: -100%;
    }
    header .links ul.active .bg-overlay{
        display: none;
    }
    .cart{
        width: 100%;
        right: -100%;
    }
    .product .name_product a{
        font-size: 13px;
    }
    .product{
        padding: 15px 10px;
    }
    .stars{
        font-size: 14px;
    }
    .slide{
        margin-bottom: 30px;
    }
    .top_slide h2{
        font-size: 16px;
    }
    .newsletter .text h4{
        font-size: 23px ;
    }
    .newsletter .text p{
        font-size: 13px ;
    }
    .newsletter .text h6{
        font-size: 16px ;
    }
    .newsletter .newsletter_form input{
        padding: 16px 140px 16px 16px;
    }
    .newsletter .newsletter_form button{
        width: 120px;
        font-size: 14px;
    }
    footer .container .row{
        width: 100%;
    }
    footer .container .big_row{
        width: 100%;
    }
    footer .bottom_footer .payment_img{
        margin-top: 30px;
    }
}
/* end page one */
/* page two */ 
.item_detail{
    background-color: #fff;
    padding: 50px 0;
}
.item_detail .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item_detail .img_item{
    width: 40%;
}
.item_detail .img_item .big_img img{
    width: 100%;
}
.item_detail .img_item .sm_img{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.item_detail .details_item{
    width: 58%;
}
.item_detail .img_item .sm_img img{
    width: 24%;
}
.item_detail .details_item h1{
    margin-bottom: 30px;
}
.item_detail .details_item h5{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 16px;
}
.item_detail .details_item h5 span{
    color: var(--main-color);
}
.item_detail .details_item .price{
    justify-content: left;
    margin: 20px 0;
    gap: 20px;
}
.item_detail .details_item .price p{
    font-size: 22px;
}
.item_detail .details_item .text_p{
line-height: 2;
}
.item_detail .details_item h4{
    font-size: 20PX;
    margin-top: 20PX;
}
.item_detail .details_item button{
    background-color: var(--main-color);
    border:none;
    outline: none;
    color: var(--dark-color);
    font-weight: bold;
    padding: 14px 35px;
    margin: 30px 0;
    font-size: 18px;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.item_detail .details_item button:hover{
    transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}
.item_detail .details_item .icons{
    display: flex;
    gap: 10px;
}
.item_detail .details_item .icons span{
    width: 50px;
    height: 50px;
    background-color: #efeeee;
    text-align: center;
    line-height: 50px;
    border: 1px solid var(--border-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.item_detail .details_item .icons span:hover{
    background-color: var(--main-color);
}

@media (max-width : 1000px) {
    .item_detail .container{
        flex-direction: column;
    }
    .item_detail .img_item{
        width: 50%;
        margin-bottom: 40px;
    }
    .item_detail .details_item{
        width: 100%;
    }
}
@media (max-width : 700px) {
    .item_detail .img_item{
        width: 80%;
    }
}
@media (max-width : 500px) {
    .item_detail .details_item h1{
        font-size: 20px;
    }
    .item_detail .details_item .text_p ,
    .item_detail .details_item h4{
        font-size: 14px;
    }
    .item_detail .details_item button{
        font-size: 16px;
    }
}
/* end page two */
/* page three */
.top-page{
    text-align: center;
    padding: 50px 0;
}
.top-page h1{
    font-size: 40px;
    color: var(--main-color);
    margin-bottom: 25px;
}
.top-page p{
    font-size: 18px;
    width: 60%;
    margin: auto;
    color: var(--parg-color);
}
.all-products .container{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: flex-start;
}
.all-products .filter{
    background-color: #fff;
    width: 280px;
    text-transform: capitalize;
    padding: 20px 25px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.all-products .filter input:checked{
    accent-color: var(--main-color);
}
.all-products .filter h4{
    margin-bottom: 10px;
    margin-top: 25px;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--border-color) ;
}
.all-products .filter span{
    font-size: 14px;
    cursor: pointer;
}
.all-products .filter .filter_item .item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.all-products .filter .filter_item .item .color{
    width: 20px;
    height: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.all-products .products_dev{
    width: calc(100% - 300px);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.all-products .products_dev .product{
    width: 22%;
    margin-bottom: 30px;
}
.all-products .pagination{
    padding: 8px 20px;
    background-color: #fff;
    border: 1px solid var(--border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    margin: 20px auto;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.all-products .pagination .btn_page{
    cursor: pointer;
    font-size: 22px;
    padding: 0 15px;
}
.all-products .pagination .btn_page:hover{
    color: var(--main-color);
}
.all-products .pagination .num_page{
    border: 1px solid transparent;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    font-size: 18px;
}
.all-products .pagination .num_page.active,
.all-products .pagination .num_page:hover{
    border: 1px solid var(--main-color);
}
.all-products .btn_filter{
    display: none;
}
@media (max-width : 1200px) {
    .all-products .products_dev .product{
        width: 30%;
    }
}
@media (max-width : 1000px){
    .all-products .products_dev .product{
        width: 49%;
    }
    .all-products .container{
        position: relative;
        padding-top: 60px;
    }
    .all-products .filter{
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        opacity: 0;
        z-index: -100px;
        transition: 0.3s opacity ease-in-out ;
        -webkit-transition: 0.3s opacity ease-in-out ;
        -moz-transition: 0.3s opacity ease-in-out ;
        -ms-transition: 0.3s opacity ease-in-out ;
        -o-transition: 0.3s opacity ease-in-out ;
}
    .all-products .filter.active{
        z-index: 100;
        opacity: 1;
    }
    .all-products .products_dev{
        width: 100%;
        gap: 0;
        justify-content: space-between;
    }
    .all-products .btn_filter{
        display: block;
        position: absolute;
        top: 0;
        padding: 12px 30px;
        background-color: var(--main-color);
        font-size: 18px;
        text-transform: capitalize;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
        cursor: pointer;
    }
}
@media (max-width : 650px) {
    .all-products .products_dev .product{
        width: 100%;
    }
    .top-page{
        padding-top: 10px;
    }
    .top-page h1{
        font-size: 22px;
    }
    .top-page p{
        font-size: 14px;
        width: 100%;
    }
}
@media (max-width : 450px) {
    .all-products .filter{
        width: 100%;
    }
}
/* end page three */
/* page four */
.checkout{
    margin: 50px 0;
}
.checkout .container{
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}
.checkout form{
    width: 41%;
}
.checkout form h2{
    padding: 10px 20px;
    background-color: var(--main-color);
    text-transform: capitalize;
}
.checkout form .address,
.checkout form .coupon{
    background-color: #fff;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.checkout .inputs{
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
}
.checkout .inputs label{
    color: var(--dark-color);
    font-size: 14px;
    text-transform: capitalize;
}
.checkout form .inputs input{
    margin: 5px 0 20px;
    padding: 12px 10px;
    outline: none;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.checkout form .inputs input:focus{
    border-color: var(--main-color);
}
.checkout .orders{
    width: 45%;
    background-color: #fff;
    padding: 0 20px;
}
.checkout .orders h1{
    border-bottom: 1px solid var(--border-color);
    padding: 20px 0;
    margin-bottom: 20px ;
}
.checkout .orders .items .item_cart{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
}
.checkout .orders .items .item_cart img{
    width: 150px;
}
.checkout .orders .items .item_cart h4{
    color: var(--parg-color);
    margin-bottom: 20px;
}
.checkout .orders .items .item_cart p{
    color: var(--dark-color);
    font-size: 18px;
}
.checkout .orders .total{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.checkout .orders .total p{
    font-size: 30px;
    font-weight: bold;
    color: var(--dark-color);
}
.checkout .orders .total span{
    font-weight: bold;
    font-size: 25px;
    color: var(--dark-color);
}
.checkout .orders .btn_div{
    border-top:1px solid var(--border-color);
    padding: 30px 0;
}
.checkout .orders .btn_div button{
    width: 100%;
    background-color: var(--main-color);
    color: var(--dark-color);
    border: 2px solid var(--main-color);
    padding: 15px 0;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}
.checkout .orders .btn_div button:hover{
    background-color: transparent;
    color: var(--main-color);
}
@media (max-width : 1000px) {
    .checkout .container{
        flex-direction: column-reverse;
        gap: 50px;
        justify-content: center;
        align-items:center;
    }
    .checkout .container form{
        width: 70%;
    }
    .checkout .container .orders{
        width: 70%;
    }
}
@media (max-width : 650px) {
    .checkout .container form{
        width: 100%;
    }
    .checkout .container .orders{
        width: 100%;
    }
}
@media (max-width : 500px) {
    .checkout .orders h1{
        font-size: 20px;
    }
    .checkout .orders .items .item_cart h4{
        font-size: 14px;
    }
    .checkout .orders .items .item_cart img{
        width: 100px;
    }
    .checkout .orders .total p{
        font-size: 20px;
    }
    .checkout .orders .total span{
        font-size: 22px;
    }
    .checkout .orders .btn_div button{
        font-size: 18px;
    }
}

/* end page four */